 body {
     background: rgb(34, 57, 106);
     color: whitesmoke;
 }
 
 h1 {
     font-size: 50px;
 }
 
 h2 {
     font-size: 40px;
 }
 
 h3 {
     font-size: 45px;
     color: green;
 }
 
 h4 {
     font-size: 35px;
 }
 
 h5 {
     font-size: 30px;
 }
 
 h6 {
     font-size: 25px;
 }
 
 p {
     font-size: 20px;
 }
 
 .hero a {
     padding-right: 20px;
     font-size: 30px;
     color: red;
 }